@page "/"

<h1>Flashlight</h1>

on: @_flashlightIsOn
<button class="btn btn-secondary" @onclick="ToggleFlashlight">Flash</button>

@code {
	private static bool _volDnButtonPressed;
	private static bool _flashlightIsOn;
	

	protected override void OnInitialized()
	{
		Accelerometer.Start(SensorSpeed.Game);
		Accelerometer.ShakeDetected += ShakeDetected;
	}

	private async void ShakeDetected(object sender, EventArgs e)
	{
		await ToggleFlashlight();
	}
	
	public static async void VolDnButtonPressed()
	{
		await TurnOnFlashlight();
		_volDnButtonPressed = true;
	}
	
	public static void VolDnButtonReleased()
	{
		_volDnButtonPressed = false;
	}

	private static async Task ToggleFlashlight()
	{
		switch (_flashlightIsOn)
		{
			case false when _volDnButtonPressed:
				await TurnOnFlashlight();
				break;
				
			case true:
				await TurnOffFlashlight();
				break;
		}
	}

	private static async Task TurnOnFlashlight()
	{
		await Microsoft.Maui.Devices.Flashlight.TurnOnAsync();
		_flashlightIsOn = true;
		Vibration.Vibrate();
		Vibration.Vibrate();
	}

	private static async Task TurnOffFlashlight()
	{
		await Microsoft.Maui.Devices.Flashlight.TurnOffAsync();
		_flashlightIsOn = false;
		Vibration.Vibrate();
	}

}